<section fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="space-evenly center" class="nav-section">
  <nav fxLayout="row" fxLayout.xs="column" id="nav-container">
    <div>COOKWARE</div> <div>COOK'S TOOLS</div> <div>CUTLERY</div> <div>ELECTRICS</div> 
    <div>BAKEWARE</div> <div>FOOD</div> <div>TABLETOP & BAR</div> <div>HOMEKEEPING</div>
    <div>OUTDOOR</div> <div>SALE</div>
  </nav>
  
  
  <nav fxLayout="row"  fxLayout.xs="column" id="nav-container" class="sanoma-nav-home-button">
    <div>WILLIAMS-SANOMA HOME</div> 
  </nav>
</section>


